h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.button {
  background-color: #2e7d32;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 0.67em 1em;
  text-align: center;
  text-decoration: none;
}

.hidden {
  display: none;
}

.App {
  position: relative;
  text-align: center;
}

.map-container {
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.search-container {
  left: 50%;
  position: fixed;
  top: 40%;
  transform: translate(-50%, 0);
  z-index: 100;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 60px;
  padding: 20px;
  padding-bottom: 30px;
  width: 620px;
}

.search-container > input {
  padding: 1em;
  border-radius: 60px;
  border: 1px solid #2e7d32;
  cursor: pointer;
}

.search-container.top {
  top: 5%;
}

.search-form-container {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #e1e1e1;
  border-radius: 60px;
  padding: 20px;
  padding-bottom: 30px;
  width: 620px;
}

.search-form-textbox {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.search-form-textbox.expanded {
  display: flex;
}

.search-form-textbox > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-slider fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.search-slider fieldset .search-slider-validation {
  color: red;
  font-size: 0.9em;
  text-align: right;
  margin-right: 20px;
}

.search-slider div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
}

.search-slider input {
  border: 1px solid #a4c8ad;
  text-align: center;
  border-radius: 10px;
  font-size: 0.9em;
}

.search-slider input:focus-visible {
  border: 1px solid #2e7d32;
  outline: 1px solid #2e7d32;
}
